<a routerLink="/author/new">Add a quotes author</a>
<p>We have quotes by:</p>
<p *ngIf="msgError"> {{ msgError }}</p>
<table>
  <tr>
    <td><span class="lin_titulo">Author</span></td>
    <td><span class="lin_titulo">Actions available</span></td>
  </tr>
  <tr *ngFor="let author of authorsList">
    <td>{{ author.name }}</td>
    <td><div class="cont_btn">
       <button [routerLink]="['/quotes/quote/' + author._id]" class="btn_color1">View Quotes</button>
       <button [routerLink]="['/author/edit/' + author._id]" class="btn_color2">Edit</button>
       <button class="btn" (click)="delAuthorId_Service(author._id)" class="btn_color1">Delete</button>
      </div>
    </td>
  </tr>
</table>
